extends layout

block styles
  link(rel='stylesheet', href='/styles/styles.css')
  link(rel='stylesheet', href='/styles/files-list.css')

block content
  div(class='page')
    h1= title
    each directory in directories
      a(class='file-card', href=directory.url)=directory.name
    each file in files
      a(class='file-card', href=file.url)=file.name
