.page {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.file-card {
    min-width: 15%;
    max-width: 15%;
    height: 200px;
    margin: 20px;
    background-color: #003252;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: 2px solid transparent;
    word-wrap: break-word;
}

.file-card:focus {
    border: 2px solid white;
}

@media only screen and (max-device-width: 824px) {
    .file-card {
        min-width: 45%;
        max-width: 45%;
        height: 400px;
        font-size: 30px;
    }
}

@media only screen and (min-device-width: 2000px) {
    .file-card {
        min-width: 30%;
        max-width: 30%;
        font-size: 30px;
    }
}
