.page {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-device-width: 824px) {
    .page {
        font-size: 30px;
    }
}
